<div class="col-md-12 col-sm-12 text-center">
<%= form_for [@post, @comment], url: { action: action } do |form| %>
	<div>
	<%= form.label :name %><br />
	<%= form.text_field :name %>
	</div>
	<div>
	<%= form.label :email %><br />
	<%= form.text_field :email %>
	</div>
	<div>
	<%= form.label :body, "Leave your comment" %><br />
	<%= form.text_area :body %>
	</div>
	
<br>

	<div><%= form.submit "Submit" %></div>

<% end %>
</div>