<%= form_for @post, url: { action: action }, html: {multipart: true, id: 'postform'} do |form| %>
  
  <% if @post.errors.any? %>  
		<%= render 'posts/partials/formerrors', element: @post %> 
  <% end %> 

	<section>
		<div>
			<%= form.label :title %><br />
			<%= form.text_field :title %>
		</div>
		<div>
				<%= form.label :image, "Upload your image" %>
				<%= form.file_field :image %>
		</div>
		<div>
				<%= form.label :tag_list, "Tags (separated by commas)" %><br />
		  	<%= form.text_field :tag_list%>
		</div>
		<div>
			<%= form.label :description %><br />
			<%= form.text_area :description, id: "summernote" %>
		</div>
		<br />

		<div><%= form.submit "Submit" %></div>
		<br>
		<p class="btn btn-primary" id="addita">Add italian version</p>
		<br>

		<!-- hidden -->
		<div id="versionita">
			<%= form.label :italiandescription, "Italian version" %><br />
			<%= form.text_area :italiandescription, id: "summernote-ita" %>
			<br />
			<p class="btn btn-danger" id="rmita">Remove italian version</p>
		</div>
		
	</section>
<% end %>


<script>
	$(document).ready(function() {
    $('#summernote').summernote({
      height: "300px"
    });
	});
</script>
