<%= form_for @post, url: { action: action }, html: {multipart: true} do |form| %>
	<div>
	<%= form.label :title %><br />
	<%= form.text_field :title %>
	</div>
	<div>
		<%= form.label :image, "Upload your image" %>
		<%= form.file_field :image %>
	</div>
	<div>
	<%= form.label :description %><br />
	<%= form.text_area :description, id: "summernote" %>
	</div>
	
<br>

	<div><%= form.submit "Submit" %></div>

<% end %>


<script>
	$(document).ready(function() {
	    $('#summernote').summernote({
	        height: "500px",
	        onImageUpload: function(files, editor, welEditable) {
	            sendFile(files[0],editor,welEditable);
	        }
	    });
	});
</script>