<article class="post_section">
  <h2>
  <%= link_to "#{post.title}", post_path(post) %>
  </h2>
    <p>
    <span class="label label-primary">
      <span class="flag flag-icon flag-icon-it"></span>
    </span>
    </p>

  <div class="row">
    <%= render 'posts/partials/postedby', post: post %>
    <%= render 'posts/partials/editdelete', post: post %>
  </div>

  <div class="row">
    <%= render 'posts/partials/createdat', post: post %>
    <%= render 'posts/partials/tags', post: post %>
  </div>

  <div class="description">
  <%= render 'posts/partials/images', post: post %>
  <%= render 'posts/partials/description', post: post %>
  </div>

  <div class="row">
    <%= render '/posts/partials/like', post: post %>
    <%= render 'posts/partials/share', post: post %>
    <%= render 'comments/comment', post: post %>
  </div>

</article>
