<article class="post_section">
    <h2>
    <%= link_to "#{post.title}", post_path(post) %>
    </h2>
 		<div class="row">

 			<%= render 'posts/partials/postedby', post: post %>

 			<%= render 'posts/partials/editdelete', post: post %>

 		</div>
    <div class="row">
    	<%= render 'posts/partials/createdat', post: post %>
    	<%= render 'posts/partials/tagscomments', post: post %>
    </div>
  
    <div class="description">
    	<%= render 'posts/partials/description', post: post %>
    </div>
</article>