<!-- New post -->
<% if user_signed_in? %>
	<div class="text-center">
		<%= link_to "New post", new_post_path, class: "btn btn-primary btn-lg" %>
	</div>
	<br>
<% end %>

<!-- Tags -->

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Tags Cloud</h4>
  </div>
    <ul class="list-group">
      <li class="list-group-item text-center">
        <div id="tag_cloud">
          <% tag_cloud Post.tag_counts, %w{s m l} do |tag, css_class| %>
            <%= link_to tag.name, tag_path(tag.name), class: css_class %>
          <% end %>
        </div>
      </li>
    </ul>
</div>

<!-- Latest posts -->

<div class="panel panel-default">
  <div class="panel-heading">
      <h4>Latest Posts</h4>
  </div>
  <% if @posts.any? %>
    <ul class="list-group">
    	<% @last_posts.each do |post| %>
        <li class="list-group-item">
          <%= link_to "#{post.title}", post_path(post) %>
          (<%= post.created_at.strftime("%d %B %Y") %>)
        </li>
      <% end %>
    </ul>
  <% else %>
    <ul class="list-group">
      <li class='list-group-item'>No posts yet</li>
    </ul>
  <% end %>
</div>

<!-- Latest comments -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Latest comments</h4>
  </div>
  <% if @comments.any? %>
    <ul class="list-group">
      <% @last_comments.each do |comment| %>
        <li class="list-group-item">
          <span>"<%= comment.body %>"</span><br>
          <span><em><%= comment.name %> in <%= link_to "#{comment.post.title}", post_path(comment.post.id) %></em></span>
        </li>
      <% end %>
    </ul>
  <% else %>
    <ul class="list-group">
      <li class="list-group-item">No comments yet</li>
    </ul>
  <% end %>
</div>

<!-- Archive -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Archive</h4>
  </div>
  <% @post_months.sort.reverse.each do |month, posts| %>
    <ul class="list-group archive-posts">
      <li class="list-group-item archive-month"><%=h month.strftime("%B %Y") %></p>
      <% for post in posts %>
      <li class="list-group-item archive-post"><small><%=h link_to post.title %></small></li>
      <% end %>
    </ul>
  <% end %>
</div>

<script type="text/javascript">
  $('li.archive-post').hide();
  $('li.archive-month').click(function(){
    $('li.archive-post').slideToggle();
  });
</script>