<nav class="collapse navbar-collapse bs-navbar-collapse navbar-inner" role="navigation">
	<ul class="nav navbar-nav nav-center" id="coderita_navbar">
		<li><span  id="coderita_link"><%= link_to "Coderita", root_path%></span></li>
	</ul>
  <ul class="nav navbar-nav navbar-right">
		<% if user_signed_in? %>
			<li><a href="#">Welcome <%= current_user.name %></a></li>
			<li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
		<% else %>
			<li><%= link_to "Sign in", new_user_session_path %></li>
			<li><%= link_to "Sign up", new_user_registration_path %></li>
		<% end %>
  </ul>
</nav>