<!DOCTYPE html>
<html lang="en">
<head>
  <title>Coderita</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<!-- include summernote css/js-->

</head>
<body>

<header class="navbar navbar-default bs-docs-nav navbar-fixed-top" role="banner">              
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
    	<ul class="nav navbar-nav">
    		<li><%= link_to "Home", root_path %></li>
    	</ul>
      <ul class="nav navbar-nav navbar-right">
				<% if user_signed_in? %>
					<li><a href="#">Welcome <%= current_user.name %></a></li>
					<li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
				<% else %>
					<li><%= link_to "Sign in", new_user_session_path %></li>
					<li><%= link_to "Sign up", new_user_registration_path %></li>
				<% end %>
      </ul>
    </nav>
  </div>
</header>

<div class="jumbotron text-center">
  <h1>Coderita</h1>
  <p>A blog for parrots who love coding <img src="/images/Parrot.png"></p>
</div>

<div id="body" class="container">
	<%= render 'layouts/notice' %>

	<%= yield %>

</div>


<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


</body>
</html>
